.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  background-color: slategray;
  font-size: x-large;
}

.link {
  text-decoration: none;
  color: white;
}

.search {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.home {
  margin-top: -20px;
  height: 100vh;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5a6401f47131a5ca2455b41d/1650850323362-EXOCDA0OXQGM7SCSNVWE/160A8833.jpeg');

}

.home-header {
  background-color: white;
  opacity: 0.75;
}

.main-content {
  margin-bottom: -50px;
}

.push {
  height: 75px;
}

.brewery-list-arr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.brew-list-item {
  text-align: center;
  background: none;
  border-radius: 15px;
  width: 25%;
  margin: 5px;
  height: 80px;

}

.brew-list-item:hover {
  text-align: center;
  background-image: url('https://media.istockphoto.com/id/1165339040/photo/craft-beer-sampler-tray.jpg?b=1&s=170667a&w=0&k=20&c=Rfg_kdJqt5dAOzW3bA2X_fNeRgdz_EwBcOD0NOpBB5U=');
  background-size: cover;
  border-radius: 15px;
  width: 30%;
  margin: 5px;
  height: 80px;
  color: white;
  opacity: 0.5;
}

.detail-wrapper {
  height: 50vh;
  width: 80vw;
  background-color: lightblue;
}

.brewery-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/friends-toasting-with-beer-glasses-in-the-royalty-free-image-1637621142.jpg?crop=1.00xw:0.752xh;0,0.132xh&resize=1200:*');
  background-repeat: no-repeat;
  background-position: center;
}


input, button, select {
  border-radius: 3px;
  border: none;
  margin: 5px;
}


.footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  padding-left: 15px;
}