/* .page-wrapper {
  display:flex;
  justify-content: center;
} */

.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  height: 100%;
  max-width: 1000px;
  background-color: #DFE0DF;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.1rem;
  margin: 0 auto
}

.title-nav {
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  background-color: #F3B22A;
  font-size: x-large;
  opacity: 0.9;
}

.link {
  text-decoration: none;
  color: white;
}

button {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.1rem;
}

.search {
  display: flex;
  justify-content: space-around;
  background-color: #A78D65;
}

/* .location-form {
  margin-left: 30px;
}

.distance-form {
  align-self: center;
} */

.home {
  margin-top: -20px;
  height: 100vh;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5a6401f47131a5ca2455b41d/1650850323362-EXOCDA0OXQGM7SCSNVWE/160A8833.jpeg');
  background-position: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-header {
  padding: 40px;

  background-color: white;
  opacity: 0.75;
}

.quote {
  text-decoration: none;
  color: black;
}

.main-content {
  margin-bottom: -50px;
  background-color: #DFE0DF;
  background-attachment: fixed;
}

.push {
  height: 50px;
}

.brewery-list {
  background-color: #DFE0DF;
  background-attachment: fixed;
}

.brewery-list-arr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.brew-list-item {
  width: 30vw;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 4px 0px 4px 0px;
}

.brew-list-item:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  margin: 2px 0px 2px 0px;
  background-color: #A78D65;
  ;
}

.detail-wrapper {
  height: 100%;
  width: 80vw;
  margin: 50px auto;
  background-color: #A78D65;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.brewery-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100vw;
}

.address {
  margin: 0 auto
}

.website {
  color: black;
}

.detail-image {
  border-radius: 15px;
  margin-right: 10px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.back-button {
  height: 100px;
  background-color: #DFE0DF;
  margin: 0px 2px 0px 2px;
}

.back-button:hover {
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0px 1px 0px 1px;
}

.header {
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/friends-toasting-with-beer-glasses-in-the-royalty-free-image-1637621142.jpg?crop=1.00xw:0.752xh;0,0.132xh&resize=1200:*');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-attachment: fixed;
}

.header-title {
  color: black;
  font-size: 45px;
  background-color: #A78D65;
  opacity: 0.75;
}

.header-text {
  color: black;
  background-color: #A78D65;
  opacity: 0.75;
}

a:hover {
  scale: 1.05;
}

.search-header {
  color: white;
}


input, button, select {
  border-radius: 3px;
  border: none;
  margin: 5px;
}


.footer {
  position: fixed;
  bottom: 0;
  background-color: #A78D65;
  width: 100%;
  max-width: 985px;
  height: 50px;
  display: flex;
  padding-left: 15px;
}